.admin-feature-card{
  border: none;
  padding: 1rem 0;
  color: rgb(66, 90, 130);
  box-shadow: 6px 6px 6px -6px rgba(0, 0, 0, 0.8);
  transition-duration: 1s;
}

.admin-feature-card:hover{
    box-shadow: 2px 12px 15px -10px rgba(0, 0, 0, 0.8);
    cursor : pointer;
}